<div class="home-headline">
		<h1>Hobby作成のルール</h1>
</div>

<div class="home-headline-body">
	<h3>Hobby作成のルール</h3>
	<br>
	みなさまに安心して使っていただけるよう、Hobby作成にはルールがあります。Hobbyを作成する前に、ルールをお読みください。<br>
	<br>
	<h3>場所に関するHobbyのルール</h3>
	日時や頻度を一緒に含めることはできません。<br>
	<br>
	具体的な地名、お店の名前などの場所についてのHobbyを作る場合、Hobby名には、日時や頻度を表す言葉は含めることができません。<br>
	<br>
	日時・頻度には、以下のようなものがあります：<br>
	3月9日、日曜日、平日、お休み、いつも、よく、朝 ※ただし、「カフェ」や「公園」など具体的ではない場所の場合は、この制限はありません。<br>
	<br>
	OK例 (日時／頻度を含まないのでOK)<br>
	「 スターバックスコーヒーでまったり♪」 「皇居でマラソンしてます♪」<br>
	<br>
	OK例(具体的でない場所なのでOK)<br>
	「お休みはカフェでまったり♪」 「日曜日は公園でマラソンしてます♪」<br>
	<br>
	NG例<br>
	「お休みはスターバックスコーヒーでまったり♪」 「日曜日は皇居でマラソンしてます♪」<br>
	<br>
	会社／学校などの団体に関するHobbyのルール：<br>
	できるだけ大きなまとまりで<br>
	<br>
	会社・学校などの団体に関するHobbyの場合は、できるだけ大きなまとまりでHobbyを作成してください。<br>
	<br>
	例えば、会社であれば、部署・営業所名のHobbyは作れません。必ず会社名にしてください。<br>
	<br>
	大きなまとまりの例<br>
	(OK例) 大きなまとまりでない例<br>
	(NG例)<br>
	会社 部署、営業所、役職、入社年次、支店名、店名など*<br>
	学校 専攻、授業、コース、サークル、研究室、ゼミ、卒業年次など<br>
	※Hobbyの対象が、主に従業員ではなく、お客さんを対象としているものに関してはOKとなる場合があります。<br>
	<br>
	その他のご注意<br>
	<br>
	そのほか、以下のような内容を含むHobbyは作成できません。<br>
	<br>
	・公序良俗に反するもの<br>
	・性行為を連想させるもの<br>
	・第三者の権利を侵害するもの<br>
	・利用規約に反するもの<br>
	・その他Hobbiesカスタマーサポートが不適切と判断したもの<br>
	なお他のお客様などから通報があった場合、HobbiesカスタマーサポートがHobbyの内容に問題があると判断した場合、事前のご連絡なく、削除・変更等を行う場合があります。</p>
	<p class="home-terms-right">以上</p>
</div>