/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../app/assets/stylesheets/.
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "skippr.css";

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	width: 100%;
	height: 80px;
	background-color: #4682b4;
}

.logo{
	position: absolute;
    left: 30px;
    top: 25px;
    font-size: 20px;
}

.nav-list{
    position: absolute;
    right: 30px;
    top: 30px;
}

.nav-list-item{
    font-size: 14px;
    font-weight: bold;
    float: left;
    text-align: right;
    list-style: none;
    padding-left: 15px;
}

.back-menu{
  margin-top: 15px;
}

.search-box{
  text-align:center;
  float: left;
}
.search-submit{
  float: left;
  display: inline-block;
}

.search-box-submit{
  float: left;
}
.form-search{
  float: left;
}

.headline{
  text-align: center;
  margin-top: 50px;
}

.user_hobbies_buttons{
  position: relative;
}

.hobby-registration{
  width: 180px;
  padding: 0.5em 1em;
  font-weight: bold;
  color: white;/*文字色*/
  background: #4682b4;
  border: solid 2px #4682b4;/*線*/
  border-radius: 10px;/*角の丸み*/
  margin-bottom: 5px;
  float: left;
}
.hobby-unregister{
  width: 220px;
  padding: 0.5em 1em;
  font-weight: bold;
  color: white;/*文字色*/
  background: #dc143c;
  border: solid 2px #dc143c;/*線*/
  border-radius: 10px;/*角の丸み*/
  margin-bottom: 5px;
  float: left;
}
.registered-people{
  font-size: 15px;
  padding: 0.5em 1em;
  text-align: right;
  position: absolute;
  right: 1px;
  float: left;
}

.content-row{
  margin-top: 30px;
}

.content{
  text-align: center;
  width : 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.content img {
  max-width : 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.name{
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

footer{
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #4682b4;
	text-align: center;
	padding: 27px;
}

.c-Hobbies{
	color: white;
	font-size: 14px;
    font-weight: bold;
    float: left;
    text-align: right;
    list-style: none;
    padding-left: 15px;
    position: absolute;
    left: -810px;
}
.footer-nav-list{
    position: absolute;
    right: 70px;
    top: 30px;
}

.footer-nav-list-item{
    font-size: 14px;
    font-weight: bold;
    float: left;
    text-align: right;
    list-style: none;
    padding-left: 15px;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}