// Place all the styles related to the user/rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-background-img{
	background: image-url('background.jpg');
	background-size: cover;
}

.container.room-header{
	background-color: #003366;
	width: 100%;
}
.room-body{
	margin-top: 50px;
}

/*******************************
* 左からの吹き出し
********************************/

.chat-icon-left{
	width : 50px;
	height: 50px;
	position: absolute;
	bottom: -5px;
	left: -60px;
}

.chat-icon-left img {
  	max-width : 100%;
  	max-height: 100%;
  	object-fit: contain;
  	position: absolute;
    top: 50%; /*親要素を起点に上から50%*/
    left: 50%;  /*親要素を起点に左から50%*/
    transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
    -webkit-transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
}

.left_balloon {
    position: relative;
    background: #fff;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20%;
    clear: both;
    max-width: 500px;
    float: left;
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* 右からの吹き出し
********************************/

.chat-icon-right{
	width : 50px;
	height: 50px;
	position: absolute;
	bottom: -5px;
	left: -60px;
}

.chat-icon-right img {
	width : 50px;
	height: 50px;
	background-position: center;
  	position: absolute;
    top: 50%; /*親要素を起点に上から50%*/
    left: 50%;  /*親要素を起点に左から50%*/
    transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
    -webkit-transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
}

.right_balloon {
    position: relative;
    background: #85e249;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
}
.right_balloon:after,
.right_balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777;
    border-width: 8px;
    margin-top: -8px;
}

.clear_balloon{
  	clear: both;
}

.talk-time-right{
	text-align: right;
}

.form{
	margin-top: 50px;
	margin-bottom: 50px;
}

.form-box{
	width: 100%;
    height: 50px;
    border: 2px solid black;
}

.form-submit{
    width: 100px;
    margin-top: 3px;
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 10pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #4682b4;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 6px #666666;  /* 影の設定 */
    border        : 2px solid #000066;    /* 枠の指定 */
}
.form-submit:hover {
    color         : #000066;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
}