// Place all the styles related to the user/user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hobby-box img {
	width : 20%;
	height: 20%;
}

.user-show-image{
	text-align: center;
	width : 500px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}

.user-show-image img {
  	max-width : 100%;
  	max-height: 100%;
  	object-fit: contain;
  	position: absolute;
    top: 50%; /*親要素を起点に上から50%*/
    left: 50%;  /*親要素を起点に左から50%*/
    transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
    -webkit-transform: translateY(-50%) translateX(-50%);
}

p{
  margin: 0;
}

.user-name-panel{
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin-top: 500px;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
}

.user-info-panel{
  width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 500px;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
}

.user-show-nav{
  text-align: center;
}

.user-show-match{
  float: left;
  margin-right: 50px;
  width: 130px;
  padding: 0.5em 1em;
  font-weight: bold;
  color: white;/*文字色*/
  background: #4682b4;
  border: solid 2px #4682b4;/*線*/
  border-radius: 10px;/*角の丸み*/
  paddin-bottom: 30px;
}

.chat-room{
  width: 145px;
  padding: 0.5em 1em;
  font-weight: bold;
  color: white;/*文字色*/
  background: #4682b4;
  border: solid 2px #4682b4;/*線*/
  border-radius: 10px;/*角の丸み*/
  margin-bottom: 5px;
  float: left;
}

.match-user-info{
  position: relative;
}

.match-user{
  margin-bottom: 30px;
}

.match-user-icon{
  float: left;
}
.match-user-name{
  float: left;
  font-size: 30px;
  margin: 10px 50px 0 50px;
}
.match-user-location{
  float: left;
  font-size: 15px;
  margin: 10px 0 0 50px;
}
.match-user-chat{
  font-size: 20px;
  position: absolute;
  top: 70px;
  left: 200px;
}
.match-user-chat-time{
  position: absolute;
  top: 10px;
  right: 20px;
}
